---

---

<div class="author-info flex gap-1 items-center">
    <span>
        <slot name="image" />
    </span>
    <span>by</span>
    <span>
        <u><slot name="author" /></u>
    </span>
    <span>
        <time datetime="2024-11-11"><slot name="date" /></time>
    </span>
</div>