---

---

<footer>
  <div class="container my-10">
    <div class="grid grid-cols-6">
      <div>
        <nav class="flex flex-col">
          <a href="#">Link 1</a>
          <a href="#">Link 1</a>
          <a href="#">Link 1</a>
          <a href="#">Link 1</a>
          <a href="#">Link 1</a>
          <a href="#">Link 1</a>
        </nav>
      </div>
      <div>
        <nav class="flex flex-col">
          <a href="#">Link 1</a>
          <a href="#">Link 1</a>
          <a href="#">Link 1</a>
          <a href="#">Link 1</a>
          <a href="#">Link 1</a>
          <a href="#">Link 1</a>
        </nav>
      </div>
      <div>
        <nav class="flex flex-col">
          <a href="#">Link 1</a>
          <a href="#">Link 1</a>
          <a href="#">Link 1</a>
          <a href="#">Link 1</a>
          <a href="#">Link 1</a>
          <a href="#">Link 1</a>
        </nav>
      </div>
      <div>
        <nav class="flex flex-col">
          <a href="#">Link 1</a>
          <a href="#">Link 1</a>
          <a href="#">Link 1</a>
          <a href="#">Link 1</a>
          <a href="#">Link 1</a>
          <a href="#">Link 1</a>
        </nav>
      </div>
      <div class="col-span-2">
        <p>Keep Up to Date with the Most Important News</p>
      </div>
    </div>
  </div>
</footer>
