---
import Cols3 from "../layouts/Cols3.astro";

const {className = '', gridClassName = ''} = Astro.props;
---

<div id="popular-section" class={`flex flex-col gap-5 ${className}`}>
    <div>Most Popular</div>
    <Cols3 className={`${gridClassName}`}>
        <img src="https://placehold.co/600x400" alt="Random image" />

        <Fragment slot="col-2">
            <img src="https://placehold.co/600x400" alt="Random image" />
        </Fragment>
        
        <Fragment slot="col-3">
            <img src="https://placehold.co/600x400" alt="Random image" />
        </Fragment>
    </Cols3>
</div>