---
export const prerender = true

import { loadTranslations } from '../../utils/i18n';

// Define the static paths for other languages
export function getStaticPaths() {
  return [
    { params: { lang: 'en' } },
    { params: { lang: 'fr' } },
    // Add other languages as needed
  ];
}

// Default to 'en' if no language is specified
const lang = Astro.params.lang || 'en';

console.log(lang);

// Load translations for the selected language
const translations = await loadTranslations(lang);

---

<html lang={lang}>
  <head>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <title>{translations.welcome}</title>
  </head>
  <body>
    <h1>{translations.welcome}</h1>
    <p>{translations.description}</p>
  </body>
</html>
