---
const {className} = Astro.props;
---

<div class={`grid grid-cols-1 lg:grid-cols-2 lg:divide-x lg:divide-gray-300 ${className} pb-5`}>
    <div class="lg:px-5">
        <slot name="col-1" />
    </div>
    <div class="lg:px-5">
        <slot name="col-2" />
    </div>
</div>